:root {
  font-family: 'Courier New', Courier, monospace;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


}


body {
  margin-top:100px ;
  margin-left: 350px;
  padding-right: 350px;
}






